*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: sans-serif;
	
}
h1{
	color: rgb(159, 59, 59);
	text-align: center;
}
.form-register{
	width: 95%;
	max-width: 500px;
	margin: auto;
	background: rgb(119, 20, 20);
	border-radius: 7px;
}
.form-titulo{
	background: #073346;
	color: rgb(162, 46, 46);
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 3px solid #0c6726;

}
.contenedor-inputs{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
input{
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid rgb(0, 214, 0);
}
.input-48{
	width: 48%;
}
.input-100{
	width: 100%;
}
.btn-enviar{
	background: #953e41;
	color: rgb(202, 213, 204);
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;

}



